* {
    box-sizing: border-box;
    margin: 0 ;
    
}


.container {
    display: grid;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    background-color: #CCC;  
    grid-template-areas: 
        "header header header header "
        "menu  content content content  "
        " ad content content content"
        "footer footer footer footer  "
    ;
}

.item {
    display: flex;
    background-color: #00F;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    color: white;
}

header {
    grid-area: header;

}
nav {
    grid-area: menu;
}
section {
    grid-area: content;
}
footer {
    grid-area: footer;
}
.ad {
    grid-area: ad;
}






















